<%- include head %>
<form method="post" >
  <blockquote>标题:</blockquote>
  <input type="text" name="title">
  <br>
  <blockquote>正文</blockquote>
  <textarea class="form-control" name="post"></textarea>
  <input type="submit" value="Post" class="btn btn-danger btn-lg btn-block">
</form>
<%- include foot %>